{% extends "new/base.html" %}

{% block title %}
Purchases | The Money Game
{% endblock title %}

{% block content %}
<div class="wrapper">
    <header class="purchase-header">
        <h1>Your Purchases</h1>
        {% if not purchases %}
        <p>You haven't tracked any purchases yet.</p>
        {% endif %}
    </header>
    <a href="/purchases/new" class="purchase-new">Add purchases</a>
    {% if purchases %}
    <ul class="purchase-list">
        {% for purchase in purchases %}
        <li>${{ purchase.amount }} {{ purchase.currency }} {{ purchase.timezone }} {{ purchase.purchased_at }} {{ purchase.bucket_id }} <a href="/purchases/{{ purchase.purchase_id }}">Details</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock content %}