{% extends "new/base.html" %}

{% block title %}
Edit Purchase {{ purchase.purchase_id }} | The Money Game
{% endblock title %}

{% block content %}
<div class="wrapper">
    <h1>Purchase {{ purchase.purchase_id }}</h1>
    <a href="/purchases/{{ purchase.purchase_id }}/edit">Edit</a>
    <p>You spent: </p>
    <p>${{ purchase.amount }} ({{ purchase.currency }})</p>
    <p>At:</p>
    <p>${{ purchase.purchased_at }} ({{ purchase.timezone }})</p>
    <p>Bucket:</p>
    <p>{{ purchase.bucket_name }}</p>
</div>
{% endblock content %}