<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <style type="text/tailwindcss">
      @layer utilities {
        .purchase.htmx-added {
          opacity: 0;
        }
        .purchase {
          opacity: 1;
          transition: opacity 1s ease-out;
        }
      }
    </style>
    <title>Expensave Expense Tracker</title>
  </head>
  <body class="min-h-screen bg-gray-200">
    {% include 'ui/header.html' %}
    <section class="px-2 py-4 md:px-0 md:py-16">
      <div class="grid gap-8 max-w-[500px] mx-auto">
        <h1 class="text-center text-3xl">
          Know the ins and outs of your financial life
        </h1>
        {% include 'app/track-spending-form.html' %} 
        
        <div class="grid bg-white rounded-md shadow gap-4 p-8">
          <h2 class="text-3xl text-gray-500">Today's Spending</h2>
          {% include "/app/total-spent-span.html" %}
          {% if purchases|length == 0 %}
          <p id="today-purchases">You haven't logged any purchases!</p>
          {% else %}
          {% include 'app/spending-list.html'%}
          {% endif%}
        </div>
      </div>
    </section>
  </body>
</html>
