<div class="grid bg-white rounded-md shadow gap-4 p-8">
  <h2 class="text-3xl text-gray-500">Today's Spending</h2>
  {% include "/app/total-spent-span.html" %}
  <ul
    id="today-purchases"
    class="grid divide-y gap-4"
    hx-get="/today-purchases"
    hx-target="this"
    hx-swap="outerHTML"
    hx-trigger="newPurchase from:body"
  >
    {% for purchase in purchases %}
    <li class="purchase grid grid-cols-2 gap-2 pt-2">
      <span> {{purchase.items}} </span>

      <span class="text-right"> ${{purchase.price}} </span>
    </li>
    {% endfor %}
  </ul>
</div>
