<button 
    type="button"
    hx-get="/purchases/edit/form/{{purchase.id}}?tab=lottery"
    hx-target="next div"
    hx-swap="innerHTML"
    class="underline underline-offset-2 text-decoration-green-700">
        Lottery
</button>
<button 
    type="button"
    hx-get="/purchases/edit/form/{{purchase.id}}?tab=time"
    hx-target="next div"
    hx-swap="innerHTML">
        Time
</button>
<button 
    type="button"
    hx-get="/purchases/edit/form/{{purchase.id}}?tab=info"
    hx-target="next div"
    hx-swap="innerHTML">
        Info
</button>
<button 
    type="button"
    hx-get="/purchases/edit/form/{{purchase.id}}?tab=method"
    hx-target="next div"
    hx-swap="innerHTML">
        Method
</button>
