{% extends "base.html" %}
{% block title %}Purchase {{purchase.purchase_time.strftime("%B %d, %Y")}} | MySaveMoneyLife{% endblock title %}
{% block content %}
<section class="px-2 pt-[24px] pb-[96px]">
	<div class="max-w-[500px] mx-auto">
        <h1 class="flex justify-between items-baseline text-center text-3xl mb-8">Purchase {{purchase.id}}<a href="/purchases/{{purchase.id}}/edit" class="text-base hover:text-blue-700 hover:underline underline-offset-2">Edit</a></h1>
        
        <h2 class="mt-4 text-lg text-gray-600">Lottery</h2>
        <hr class="border-black mb-2"/>
        {% if purchase.receipt_lottery_number %}
            <p class="text-xl font-semibold">{{purchase.receipt_lottery_number}}</p>
        {% else %}
            <p class="text-xl font-semibold">No lottery number recorded.</p>
        {% endif %}
        <h2 class="mt-4 text-lg text-gray-600">Time</h2>
        <hr class="border-black mb-2"/>
        {% if purchase.purchase_time %}
            <p class="text-xl font-semibold">{{purchase.purchase_time.strftime("%B %d, %Y")}}</p>
        {% else %}
            <p class="text-xl font-semibold">No purchase time recorded.</p>
        {% endif %}
        <h2 class="mt-4 text-lg text-gray-600">Price</h2>
        <hr class="border-black mb-2"/>
        {% if purchase.price %}
            <p class="text-xl font-semibold">${{purchase.price}}</p>
        {% else %}
            <p class="text-xl font-semibold">No price recorded.</p>
        {% endif %}
        <h2 class="mt-4 text-lg text-gray-600">Payment Method</h2>
        <hr class="border-black mb-2"/>
        {% if purchase.payment_method %}
            {% if purchase.payment_method.value == 'cash' %}
            <img src="../../../static/img/cash.png"
                alt="Cash"
                class="w-6 h-6" />
            {% else %}
            <img src="../../../static/img/credit-card.png"
                alt="Credit Card"
                class="w-6 h-6" />
            {% endif %}
        {% else %}
            <p class="text-xl font-semibold">No payment method recorded.</p>
        {% endif %}
        <h2 class="mt-4 text-lg text-gray-600">Location</h2>
        <hr class="border-black mb-2"/>
        {% if purchase.location %}
            <p class="text-xl font-semibold">{{purchase.location}}</p>
        {% else %}
            <p class="text-xl font-semibold">No location recorded.</p>
        {% endif %}
        <h2 class="mt-4 text-lg text-gray-600">Items</h2>
        <hr class="border-black mb-2"/>
        {% if purchase.items %}
            <p class="text-xl font-semibold">{{purchase.items}}</p>
        {% else %}
            <p class="text-xl font-semibold">No items recorded.</p>
        {% endif %}      
	</div>
</section>
{% endblock content %}