{% extends "base.html" %}
{% block title %}
MySaveMoneyLife - Total Spending Page
{% endblock title %}
{% block content %}
<section class="px-2 pt-[24px] pb-[96px]">
	<div class="max-w-[1000px] mx-auto">
        <h1 class="text-center text-3xl mb-8">Your Total Spending</h1>
		{% if not totals %}
		<p class="text-center border p-2 rounded-md shadow">You haven't saved any purchases in the app. Save some purchases to see your daily total spending.</p>		
		{% else %}
            {% include "totals/totals-table.html" %}
		{% endif %}
	</div>
</section>
{% endblock content %}