<form hx-post="/purchases"
	  hx-target="this"
	  hx-swap="outerHTML"
	  hx-indicator="#expense-form-indicator"
	  class="grid gap-2">
	<h1 class="text-3xl">Track Spending</h1>
	{% include "purchases/form/inputs/lottery.html" %}
	{% include "purchases/form/inputs/purchase-date-time.html" %}
	{% include "purchases/form/inputs/amount.html" %}
	<button class="flex gap-2  justify-center items-center bg-gray-700 text-white px-3 py-2 rounded">
		Save
		<div>
			{% include "ui/spinner.html" %}
		</div>
	</button>
</form>