<form hx-post="/date/{{today_date.strftime('%Y-%m-%d')}}"
	  hx-target="this"
	  hx-swap="outerHTML"
	  hx-indicator="#expense-form-indicator"
	  class="px-2 grid gap-2"
	  novalidate>
	  {% if form_errors %}
		{% set first_error_field = "letters" if form_errors.get("letters") 
			else "numbers" if form_errors.get("numbers") 
			else "time" if form_errors.get("time") 
			else "amount" if form_errors.get("amount")
			else None
		%}
	  {% endif %}
	{% include "purchases/form/inputs/lottery.html" %}
	{% include "purchases/form/inputs/time.html" %}
	{% include "purchases/form/inputs/amount.html" %}
	<button class="flex gap-2  justify-center items-center bg-gray-700 text-white px-3 py-2 rounded">
		Save
		<div>
			{% include "ui/spinner.html" %}
		</div>
	</button>
</form>