{% extends "base.html" %}
{% block title %}
Expense Tracker App
{% endblock title %}
{% block content %}
<section class="px-2 py-4 md:px-0 md:py-16">
	<div class="grid gap-8 max-w-[500px] mx-auto">
		<h1 class="text-center text-3xl">
			Know the ins and outs of your financial life
		</h1>
		{% include 'app/home/track-spending-form.html' %}

		<div class="grid rounded-md gap-4">
			<header class="p-8">
				<h2 class="text-3xl text-gray-500">Spending {{today_date.strftime("%B %d, %Y")}}</h2>
				<a href="/purchases/{{today_date.strftime('%Y-%m-%d')}}"
				   class="text-gray-700">View Details</a>
			</header>
			{% include "/app/home/total-spent-span.html" %}
			{% if purchases|length == 0 %}
			<p id="today-purchases">You haven't logged any purchases!</p>
			{% else %}
			{% include 'app/home/spending-list.html'%}
			{% endif %}
		</div>
	</div>
</section>
{% endblock content %}