<div class="flex flex-col gap-1" hx-target="this" hx-swap="outerHTML">
  <label for="items">What did you buy</label>
  <input
	value="{{items|join(', ')}}"
    hx-post="/validate-items"
	hx-trigger="keyup changed delay:200ms"
    required
    id="items"
    name="items"
    class="border rounded p-2 bg-gray-100"
    type="text"
  />
  {% if items|length >= 1 %}
  <div class="flex flex-wrap gap-1">
    {% for item in items %}
    <span class="px-2 py-1 bg-gray-100 border rounded">{{item}}</span>
    {% endfor %}
  </div>
  {% endif%}
</div>
