<ul id="today-purchases" class="grid divide-y gap-4">
  {% for purchase in purchases %}
  <li class="purchase grid grid-cols-2 gap-2 pt-2">
    <span> {{purchase.items}} </span>

    <span class="text-right"> ${{purchase.price}} </span>
  </li>
  {% endfor %}
</ul>
<script>
  document.body.addEventListener("htmx:beforeSwap", function (event) {
    console.log("before swap", event.target);
    let listContainer = document.getElementById("today-purchases");
    window.startHeight = listContainer.offsetHeight;
    console.log('starting height', window.startHeight);
  });

  document.body.addEventListener("htmx:afterSwap", function (event) {
    console.log("after swap", event.target);
    let listContainer = document.getElementById("today-purchases");
      requestAnimationFrame(() => {
        const endHeight = listContainer.scrollHeight + "px";
        console.log('end height', endHeight)

        // Animate from startHeight to endHeight using GSAP
        gsap.fromTo(
          listContainer,
          { height: window.startHeight + "px" },
          {
            height: endHeight,
            duration: 1, // Adjust duration as needed
            ease: "sine.inOut",
          }
        );
      });
  });
</script>
