<li class="purchase detail-card py-4 px-8 bg-white rounded-md shadow">
	{% block content %}
	<div>
		<header class="flex justify-between items-baseline">
			<p class="text-2xl">${{purchase.price}}</p>
			<div>
				<button hx-get="/purchases/details/edit/{{purchase.id}}"
						hx-target="closest .detail-card"
						hx-swap="innerHTML settle:1s">Edit</button>
				<button hx-delete="/delete-purchase/{{purchase.id}}"
						hx-confirm="Are you sure you want to delete this purchase?"
						hx-target="closest li"
						hx-swap="outerHTML swap:1s"
						class="hover:text-red-500">Delete</button>
			</div>
		</header>
		<p class="text-sm text-gray-500 mb-2">{{purchase.purchase_time.strftime("%H:%M:%S")}} @ {{purchase.location}}
		</p>
		<hr class="mb-2 border-gray-500" />
		<p class="">{{purchase.items}}</p>
	</div>
	{% endblock content %}
</li>