{% extends "base.html" %}
{% block title %}
My Save Money Life - Home
{% endblock title %}
{% block content %}
<section class="min-h-[75vh] grid place-content-center bg-white">
	<div class="max-w-[500px] mx-auto text-center md:text-left">
		<h1 class="text-balance mb-8 text-green-900 text-5xl md:text-6xl underline underline-offset-4 decoration-green-600">
			Know the <span class="text-green-600">ins</span> and <span class="text-green-600">outs</span> of your financial life
		</h1>
		<p class="text-2xl mb-16">The simplest way to stay on top of your spending.</p>
		<a href="signup" class="inline-block text-xl bg-green-600 rounded-md px-8 py-2 text-white hover:bg-green-500 active:bg-green-700 active:scale-95 duration-200 ease-in-out">Take control of your finances now</a>
	</div>
</section>
{% endblock content %}