<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <title>Expensave Expense Tracker</title>
  </head>
  <body class="min-h-screen bg-gray-200">
    {% include 'ui/header.html' %}
    <section class="px-2 py-4 md:px-0 md:py-16">
      <div class="max-w-[500px] mx-auto">
        <h1 class="text-center text-3xl mb-8">
          Know the ins and outs of your financial life
        </h1>
        <p>The simplest way to track your spending</p>
		<p>Across all payment methods</p>
		<p>In any currency</p>
      </div>
    </section>
  </body>
</html>
