<table class="min-w-full divide-y divide-gray-400">
	<thead>
		<tr>
			<th class="hidden md:table-cell px-2 py-1 border border-gray-300">Number of Purchases</th>
			<th class="px-2 py-1 border border-gray-300">Total Spent</th>
			<th class="px-2 py-1 border border-gray-300">Purchase Date</th>
		</tr>
	</thead>
	<tbody class="divide-y divide-gray-200 bg-white">
		{% for total in totals %}
		<tr class="table-row">
			<td class="hidden md:table-cell px-2 py-1 border border-gray-300 text-right">
				{{total.number_of_purchases}}
			</td>
			{% if total.total_spent > 500 %}
			<td class="text-red-600 px-2 py-1 text-right border border-gray-300">
			{% elif total.total_spent > 500/2 %}
			<td class="text-orange-600 px-2 py-1 text-right border border-gray-300">
			{% else %}
			<td class="text-green-600 px-2 py-1 text-right border border-gray-300">
			{% endif %}
				<span>${{total.total_spent}}</span>
				<span class="md:hidden text-gray-700">({{total.number_of_purchases}})</span>
			</td>
			<td class="text-right px-2 py-1 border border-gray-300">{{total.local_date.strftime("%B %d")}}</td>
		</tr>
		{% endfor %}
		{% if totals|length == limit %}                   
			<tr 
				hx-get="/totals?page={{ page + 1 }}"
				hx-target="closest tr"
				hx-trigger="revealed"
				hx-swap="outerHTML"
				hx-select="tbody > tr"
				class="h-8 animate-pulse border border-gray-300">
				<td 
					colspan="7"
					class="bg-green-200 text-center py-2 animate-pulse">
				</td>
			</tr>
			{% endif %}
	</tbody>
</table>
