{% macro heading_row(headings) %}
	<tr>
      {% for heading in headings %}
      <th
        class="py-2 px-2 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 w-[100px]"
      >
        {{heading}}
      </th>
      {% endfor %}
    </tr>
{% endmacro %}

{# table below for reference only #}
<table class="w-full caption-bottom text-sm">
  <thead class="[&amp;_tr]:border-b">
    <tr>
      {% for heading in headings %}
      <th
        class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 w-[100px]"
      >
        {{heading}}
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody class="[&amp;_tr:last-child]:border-0">
    {% for user in users %}
    <tr
      class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
    >
      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
        {{user.id}}
      </td>
      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
        {{user.display_name}}
      </td>
      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
        {{user.email}}
      </td>
      <td
        class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 flex justify-end gap-2"
      >
        {% include '/ui/svg/edit-svg.html'%} {% include '/ui/svg/delete-svg.html'%}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
