{% for purchase in purchases %}
    <li class="w-full purchase detail-card p-2 sm:py-4 sm:px-8 bg-white rounded-md shadow">
        <div class="flex justify-between text-xl font-semibold">
            <p>{{purchase.purchase_time.strftime("%H:%M")}}</p>
            {# <div class="flex gap-2">
                {% if purchase.payment_method.value == 'cash' %}
                    <img src="../../../static/img/cash.png"
                        alt="Cash"
                        class="w-6 h-6" />
                {% else %}
                    <img src="../../../static/img/credit-card.png"
                        alt="Credit Card"
                        class="w-6 h-6" />
                {% endif %}
            </div> #}
            <p>${{purchase.price}}</p>
        </div>
        <a onclick="document.getElementById('details-{{purchase.id}}').classList.toggle('hidden');">Details</a>
        <hr class="my-2 border-gray-500"/>
        <div id="details-{{purchase.id}}" class="hidden">
            <p class="text-xl">Lottery: <span class="font-semibold">{{purchase.receipt_lottery_number}}</span></p>
            <p class="text-xl text-gray-500">Store: {{purchase.location}}</p>
            {% if purchase.items %}
                <p>{{purchase.items}}</p>
            {% endif %}
            <div class="text-center">
                <a hx-get="/purchases/{{purchase.id}}/edit"
                        hx-target="closest .detail-card"
                        hx-swap="innerHTML settle:1s"
                        href="/purchases/{{purchase.id}}/edit">Edit</a>

                <button hx-delete="/purchases/{{purchase.id}}"
                        hx-confirm="Are you sure you want to delete this purchase?"
                        hx-target="closest li"
                        hx-swap="outerHTML swap:1s"
                        class="hover:text-red-500">Delete</button>
            </div>
        </div>
    </li>
{% endfor %}
{% if purchases|length == 10 %}                   
    <li 
        hx-get="/purchases?page={{ page + 1 }}"
        hx-target="this"
        hx-trigger="revealed"
        hx-swap="outerHTML"
        {# hx-select="tbody > tr" #}
        class="bg-green-200 h-8 animate-pulse">
    </li>
{% endif %}