{% for purchase in purchases %}
    <li class="w-full purchase detail-card p-2 sm:py-4 sm:px-8 bg-white rounded-md shadow">
        <div class="flex justify-between text-xl font-semibold">
            <p>{{purchase.purchase_time.strftime("%H:%M")}}</p>
            {# <div class="flex gap-2">
                {% if purchase.payment_method.value == 'cash' %}
                    <img src="../../../static/img/cash.png"
                        alt="Cash"
                        class="w-6 h-6" />
                {% else %}
                    <img src="../../../static/img/credit-card.png"
                        alt="Credit Card"
                        class="w-6 h-6" />
                {% endif %}
            </div> #}
            <p>${{purchase.price}}</p>
        </div>
        <a href="/purchases/{{purchase.id}}">Details</a>
    </li>
{% endfor %}
{% if purchases|length == 10 %}                   
    <li 
        hx-get="/purchases?page={{ page + 1 }}"
        hx-target="this"
        hx-trigger="revealed"
        hx-swap="outerHTML"
        {# hx-select="tbody > tr" #}
        class="bg-green-200 h-8 animate-pulse">
    </li>
{% endif %}