{% extends "base.html" %}
{% block title %}Edit Purchase {{purchase.purchase_time.strftime("%B %d, %Y")}} | MySaveMoneyLife{% endblock title %}
{% block content %}
<section class="px-2 pt-[24px] pb-[96px]">
	<div class="max-w-[1000px] mx-auto">
		<h1 class="text-center text-3xl mb-8">Edit Purchase {{purchase.id}}</h1>
        <div class="max-w-[500px]">
            {% include "/purchases/edit-purchase-form.html" %}
        </div>
        <a href="/purchases/{{purchase.id}}">Back</a>
	</div>
</section>
{% endblock content %}