{% extends "base.html" %}
{% block title %}
MySaveMoneyLife - Purchase History
{% endblock title %}
{% block content %}
<section class="px-2 py-[96px]">
	<div class="max-w-[1000px] mx-auto">
		<h1 class="text-center text-3xl mb-8">Your Purchases</h1>
		{% if purchases|length == 0 %}
			<p>You have no purchase history.</p>
			<p>If you decide to track your purchases, you will see a table like the one below.</p>
			<table class="min-w-full divide-y divide-gray-400">
				<thead>
					{% include 'purchases/purchase-table-header.html'%}
				</thead>
				<tbody>
					{% include 'purchases/fake-table-rows.html' %}
				</tbody>
			</table>
		{% else %}
			<table class="min-w-full divide-y divide-gray-400">
				<thead>
                    {% include 'purchases/purchase-table-header.html'%}
                </thead>
				<tbody class="divide-y divide-gray-200 bg-white">
                    {% include 'purchases/purchase-table-rows.html' %}
				</tbody>
			</table>
		{% endif %}
	</div>
</section>
{% endblock content %}