{% extends "base.html" %}
{% block title %}{{purchase.purchase_time}} | MySaveMoneyLife{% endblock title %}
{% block content %}
<section class="px-2 pt-[24px] pb-[96px]">
	<div class="max-w-[1000px] mx-auto">
		<h1 class="text-center text-3xl mb-8">Purchase {{purchase.id}}</h1>
        <p>{{purchase.purchase_time.strftime("%B %d, %Y")}} @ {{purchase.purchase_time.strftime("%H:%M")}}</p>
        <p>
            {% if purchase.location %}
                {{purchase.location}}
            {% else %}
                No location recorded.
            {% endif %}
        </p>
        <p>
            {% if purchase.price %}
                NT ${{purchase.price}}
            {% else %}
                No price recorded.
            {% endif %}
        </p>
        <a href="/purchases/{{purchase.id}}/edit">Edit</a>
	</div>
</section>
{% endblock content %}