{% extends "base.html" %}
{% block title %}
    Receipt Camera
{% endblock title %}
{% block content %}
    <section class="max-w-[1000px] mx-auto pt-[96px] flex flex-col items-center">
        <h1 class="sr-only">Receipt Camera</h1>
        <p id="cameraStatus"></p>
        <div class="w-full max-w-[500px] aspect-[3/4] flex overflow-x-auto">
            <div id="noPhotoDisplay" class="w-full max-w-[500px] aspect-[3/4] flex justify-center items-center border border-gray-300">
                <p>Take a photo and see preview here.</p>
            </div>
            <video id="cameraVideo" class="hidden w-full max-w-[500px] aspect-[3/4] bg-black object-cover"></video>
            <img id="cameraImage" class="hidden w-full max-w-[500px] aspect-[3/4] bg-black object-cover" src="" alt=""/>
        </div>
        <form hx-post="/camera" action="/camera" method="POST" enctype="multipart/form-data" hx-swap="none">
            <input id="cameraInput" name="photo" type="file" accept="image/*" capture="environment" class="hidden mb-16"/>
            <button
                id="cameraButton"
                class="bg-gray-200 px-4 py-2 border rounded-md"
                type="button">
                Camera
            </button>
            <button
                id="captureButton"
                class="bg-gray-200 px-4 py-2 border rounded-md hidden">
                Capture
            </button>
            <button 
                id="cancelCaptureButton" 
                type="button" 
                class="bg-gray-200 px-4 py-2 border rounded-md hidden">
                Cancel
            </button>
            <button
                id="submitButton"
                type="submit"
                class="bg-gray-200 px-4 py-2 border rounded-md hidden">
                <span class="htmx-indicator-content">Save</span>
                <span class="htmx-indicator">Saving</span>
            </button>
            <button
                id="deleteImgButton"
                class="bg-gray-200 px-4 py-2 border rounded-md hidden"
                type="button">
                Delete
            </button>
        </form>
    </section>
{% endblock content %}