@view-transition {
    navigation: auto;
}


:root {
    --color-white: #ffffff;
    --color-black: #000000;

    --color-gray-100: #F3F4F6;
    --color-gray-200: #E5E7EB;
    --color-gray-300: #D1D5DB;
    --color-gray-400: #9CA3AF;
    --color-gray-500: #6B7280;
    --color-gray-600: #6B7280;
    --color-gray-700: #374151;
    --color-gray-800: #1F2937;
    --color-gray-900: #111827;

    --color-red-100: #FEE2E2;
    --color-red-200: #FECACA;
    --color-red-300: #FCA5A5;
    --color-red-400: #F87171;
    --color-red-500: #EF4444;
    --color-red-600: #DC2626;
    --color-red-700: #B91C1C;
    --color-red-800: #991B1B;
    --color-red-900: #7F1D1D;

    --color-blue-100: #DBEAFE;
    --color-blue-200: #BFDBFE;
    --color-blue-300: #93C5FD;
    --color-blue-400: #60A5FA;
    --color-blue-500: #3B82F6;
    --color-blue-600: #2563EB;
    --color-blue-700: #1D4ED8;
    --color-blue-800: #1E40AF;
    --color-blue-900: #1E3A8A;

    --color-green-50: #ECFDF5; 
    --color-green-100: #D1FAE5; 
    --color-green-200: #A7F3D0; 
    --color-green-300: #6EE7B7; 
    --color-green-400: #34D399; 
    --color-green-500: #10B981; 
    --color-green-600: #059669; 
    --color-green-700: #047857; 
    --color-green-800: #065F46; 
    --color-green-900: #064E3B; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
}

body.no-scroll {
    overflow-y: hidden;
}

p {
    margin-bottom: 1rem;
}

button {
    font: inherit;
    background: none;
    border: none;
}


{{/* .header {
    position: relative;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    margin-inline: auto;
} */}}

.wrapper {
    margin-top: 48px;
    margin-bottom: 2rem;
    max-width: 500px;
    margin-inline: auto;
}

@media screen  and (width <= 500px){
    .wrapper {
        padding-inline: 0.5rem;
    }
}

.divider {
    margin-bottom: 2rem;
    max-width: 500px;
    margin-inline: auto;
}

{{/* header styles */}}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-gray-300);
    z-index: 1000;
}

.header__wrapper {
    height: 48px;
    max-width: 800px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color-green-600);
}

.header__nav {
   display: flex;
   gap: 0.5rem;
}

.header__nav a {
    font-size: 1.25rem;
    color: var(--color-gray-900);
    text-decoration: none;
}

.header__nav a:hover {
    color: var(--color-green-600);
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}

.header__nav a:active {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}

.header__open-btn {
    display: none;
}

.header__close-btn {
    display: none;
}

 @media screen and (width <= 639px) {
    .header__wrapper {
        padding-inline: 0.5rem;
    }

    .header__nav {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--color-white);

        isolation: isolate;
        z-index: 1000;
    }

    .header__nav.open {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .header__nav a {
        width: 50%;
        margin-inline: auto;
        font-size: 2rem;
    }

    .header__open-btn {
        display: block;
    }

    .header__close-btn {
        display: block;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        z-index: 101;
    }
}

.page-heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .heading-link {
        font-size: 18px;
    }
}

.purchase-info {
    padding: 0.25rem;
    border: 1px solid rgba(124, 124, 124, 1);
    border-radius: 0.25rem;
}

.how-to-list {
    list-style-type: none;
    list-style-position: inside;
    
    .list-item {
        margin-bottom: 0.5rem;
    }
}

form {
    display: grid;
    
    .input-group {
        display: grid;
        margin-bottom: 1rem;
    }

    .fieldset {
        border: none;
        margin-bottom: 0.5rem;
    }

    .legend {
        width: 100%;
    }

    .fieldset-group {
        border: 1px solid rgba(124, 124, 124, 1);
        border-radius: 0.25rem;
        padding: 0.25rem;
    }

    input {
        border: 1px solid rgba(124, 124, 124, 1);
        border-radius: 0.25rem;
        padding:0.25rem;
    }

    input[readonly] {
        background-color: rgb(239,239,239);
    }

    .button_group {
        display: flex;
        gap: 1rem;
    }
}

.danger-zone {
    h2 {
        margin-bottom: 0.5rem;
    }
    
    p {
        margin-bottom: 1rem;
    }

    .delete-btn {
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        border: 1px solid red;
        color: white;
        background-color: red;
        border-radius: 0.25rem;
        padding: 0.5rem 0.5rem;
        cursor: pointer;
    }

    .delete-btn:hover {
        background-color: rgba(177, 33, 33, 1);
        border-color: rgba(177, 33, 33, 1);
    }

    .delete-btn:active {
        scale: 0.99;
    }
}



.bucket_list {
    li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }
}

.purchase-header {
    margin-bottom: 1rem;
}

.purchase-new {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    background-color: rgba(18, 146, 67, 1);
    border-radius: 0.25rem;
    margin-botto0m: 2rem;
}

.purchase-list {
    list-style: none;

    .list-item {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        border: 1px solid rgba(124, 124, 124, 1);
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 0.25rem;
    
    }
    
    
}

{{/* edit purchase styles */}}

.delete-btn {
    cursor: pointer;
    color: var(--color-red-600);
}

.delete-btn:hover {
    color: var(--color-red-500);
}

.delete-btn:active {
    color: var(--color-red-700);
}