* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
}

section {
    margin-bottom: 2rem;
    max-width: 500px;
    margin-inline: auto;
}
form {
    display: grid;
    
    .input_group {
        display: grid;
        margin-bottom: 0.5rem;
    }

    input {
        border: 1px solid rgba(124, 124, 124, 1);
        border-radius: 0.25rem;
        padding:0.25rem;
    }

    .button_group {
        display: flex;
        gap: 1rem;
    }
}


.bucket_list {
    li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }
}