@view-transition {
    navigation: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
}

p {
    margin-bottom: 1rem;
}

.header {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    margin-inline: auto;
}

.wrapper {
    margin-bottom: 2rem;
    max-width: 500px;
    margin-inline: auto;
}

@media screen  and (width <= 500px){
    .wrapper {
        padding-inline: 0.5rem;
    }
}

.how-to-list {
    list-style-type: none;
    list-style-position: inside;
    
    .list-item {
        margin-bottom: 0.5rem;
    }
}

form {
    display: grid;
    
    .input-group {
        display: grid;
        margin-bottom: 0.5rem;
    }

    .fieldset {
        border: none;
        margin-bottom: 0.5rem;
    }

    .legend {
        width: 100%;
    }

    .fieldset-group {
        border: 1px solid rgba(124, 124, 124, 1);
        border-radius: 0.25rem;
        padding: 0.25rem;
    }

    input {
        border: 1px solid rgba(124, 124, 124, 1);
        border-radius: 0.25rem;
        padding:0.25rem;
    }

    input[readonly] {
        background-color: rgb(239,239,239);
    }

    .button_group {
        display: flex;
        gap: 1rem;
    }
}

.danger-zone {
    h2 {
        margin-bottom: 0.5rem;
    }
    
    p {
        margin-bottom: 1rem;
    }

    .delete-btn {
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        border: 1px solid red;
        color: white;
        background-color: red;
        border-radius: 0.25rem;
        padding: 0.5rem 0.5rem;
        cursor: pointer;
    }

    .delete-btn:hover {
        background-color: rgba(177, 33, 33, 1);
        border-color: rgba(177, 33, 33, 1);
    }

    .delete-btn:active {
        scale: 0.99;
    }
}



.bucket_list {
    li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }
}

.purchase-header {
    margin-bottom: 1rem;
}

.purchase-new {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    background-color: rgba(18, 146, 67, 1);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.purchase-list {
    list-style: none;

    li {
        border: 1px solid black;
        padding: 0.25rem;
        margin-bottom: 0.25rem;
        border-radius: 0.25rem;
    }
    
    .list-item {
        display: flex;
        justify-content: space-evenly;
    }
}