<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <title>Expensave Expense Tracker</title>
  </head>
  <body class="min-h-screen bg-gray-200">
    {% include 'header.html' %}
    <section class="px-2 py-4 md:px-0 md:py-16">
      <div class="grid gap-8 max-w-[500px] mx-auto">
        <h1 class="text-center text-3xl">
          Know the ins and outs of your financial life
        </h1>
        {% include 'track-purchase-form.html' %} 
        {% if purchases|length == 0 %}
        <p>You haven't logged any purchases!</p>
        {% else %}
        <ul class="grid divide-y gap-4 p-8 bg-white rounded-md shadow">
          <h2 class="text-3xl text-gray-500">Today's Spending</h2>
          {% for purchase in purchases %}
          <li class="pt-2">{{purchase.items}}</li>
          {% endfor %}
        </ul>
        {% endif%}
      </div>
    </section>
  </body>
</html>
