{% extends "base.html" %}

{% block title %}
Me | The Money Game
{% endblock title %}

{% block content %}
<div class="wrapper app-page">
    <h1>Your Profile</h1>
    <section>
        <h2 class="section-heading">Your account information</h2>
        <p>Email: {{ current_user.email }}</p>
    </section>
    <section>
        <h2 class="section-heading">Spending Buckets</h2>
        <p>
        Create spending buckets as you need them.
        </p>
        <p>
        If you want to play the game, make a daily spending bucket. 
        Choose the maximum amount you want to spend each day and 
        we'll set up a bucket to help you track daily progress
        </p>
        {% if not buckets %}
            <p>
            You haven't made any spending buckets yet.
            </p>
        {% else %}
            <ul class="bucket_list">
                {% for bucket in buckets %}
                    <li>
                        <span>{{ bucket.name }} {{bucket.amount}}</span>
                        {% if bucket.top_up %}
                            <p class="like-input">${{ bucket.top_up.start_amount }}</p>
                        {% else %}
                            <form 
                                class="top-up-form"
                                hx-post="/buckets/{{ bucket.bucket_id }}/top-up"
                                hx-swap="outerHTML"
                                >
                                <input type="hidden" name="month_start" value="{{ month_start }}" />
                                <label class="sr-only" for="start_amount">Amount</label>
                                <input type="text" id="start_amount" name="start_amount"/>
                                <button type="submit">Top up</button>     
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
    <section>
        <h2 class="section-heading">How to Play</h2>
        <p>Welcome to The Money Game: a game that challenges you to spend less and save more.</p>
        <p>How it works:</p>
        <ul class="how-to-list">
            <li class="list-item">Choose a daily disposable spending amount.</li>
            <li class="list-item">When you spend money, save it in this app <a href="/purchases/new">Save a new purchase</a>.</li>
            <li class="list-item">The app will tell you how money you have spent each day.</li>
            <li class="list-item">And it will tell you how much money you can spend.</li>
            <li class="list-item">Every day, try to save some of your money.</li>
        </ul>
        {% if not daily_spending_bucket %}
        <p>You need to creating a Daily Spending bucket to use this app. <a href="/me">Create one now</a>.</p>
        {% else %}
        <p>Your daily spending allowance is ${{ daily_spending_bucket.daily_amount }} (TWD)</p>
        {% endif %}
    </section>
</div>
{% endblock content %}