{% extends "base.html" %}

{% block title %}Stats | The Money Game{% endblock title %}

{% block content %}
<div class="wrapper app-page">
    <h1>Spending Stats</h1>
    <section>
        {% if not bucket %}
        <p>You need to set up your buckets before using this page. <a href="/me">Set up buckets.</a></p>
        {% else %}
        {% set start_date = "2025-11-01" if not request.query_params.get("start_date") else request.query_params.get("start_date")%}
        {% set end_date = "2025-11-30" if not request.query_params.get("end_date") else request.query_params.get("end_date")%}
        <form action="/stats" method="GET">
            <div class="form__input-group">
                <label for="start" class="form__label">Start</label>
                <input type="date" id="start"  name="start_date" value="{{ start_value }}" class="form__input" />
            </div>
            <div class="form__input-group">
                <label for="end" class="form__label">End</label>
                <input type="date" id="end" name="end_date" value="{{ end_value }}" class="form__input" />
            </div>
            <button type="submit" class="form__button">Go</button>
        </form>
    </section>
    <section>
        <p>You spent ${{"{:,}".format(total_spent_in_period)}}</p>
        <ul class="purchase-list">
            {% for purchase in purchases %}
                <li class="list-item">{{ purchase.purchased_at }} <span>${{ "{:,}".format(purchase.amount) }}</span></li>
            {% endfor %}
        </ul>
        {% endif %}
    </section>
</div>
{% endblock content %}