{% extends "base.html" %}
{% block title %}The Money Game{% endblock title %}
{% block content %}
<section>
    <div class="wrapper">
        <h1>The Money Game</h1>
        <p>You have spent ${{ total_spent }}</p>
        <p>You have {{ daily_spending_bucket.daily_amount - total_spent }} remaining.</p>
        <a href="/purchases/new" class="purchase-new">Add purchases</a>
        {% if purchases %}
        <ul class="purchase-list">
            {% for purchase in purchases %}
            <li class="list-item">
                <span>{{ purchase.purchased_at.strftime("%b %d") }}</span>
                <span>${{ purchase.amount }} in {{ purchase.bucket_name }}</span>
                <a href="/purchases/{{ purchase.purchase_id }}">Details</a>
            </li>
            {% endfor %}
        </ul>    
        {% endif %}
        </div>
</section>
{% endblock %}