{% extends "base.html" %}
{% block title %}Camera 2 Page{% endblock title %}

{% block content %}
<section class="px-2 pt-[24px] pb-[96px]">
	<div class="max-w-[1000px] mx-auto">
	<h1 class="sr-only">Receipt Camera</h1>
        <div class="relative w-full max-w-[500px] aspect-[3/4] flex overflow-x-auto">
            <div class="absolute top-2 left-0 w-full grid place-content-center">
                <p id="cameraStatus" class="px-4 py-2 text-gray-700 bg-gray-200 bg-opacity-50 rounded-full">Camera inactive</p>
            </div>
            <div id="noPhotoDisplay" class="w-full max-w-[500px] aspect-[3/4] flex justify-center items-center border border-gray-300">
                <p>Take a photo and see preview here.</p>
            </div>
            <div id="captureContainer" class="w-full aspect-[3/4] hidden">
                <div id="guidingRect" class="w-[300px] aspect-[3/4] border-4 border-green-500 rounded"></div>
                <video id="cameraVideo" class="media hidden w-full max-w-[500px] aspect-[3/4] bg-black object-cover hidden"></video>
                <img id="cameraImage" class="media hidden w-full max-w-[500px] aspect-[3/4] bg-black object-cover hidden" src="" alt=""/>
            </div>
        </div>
		<input id="cameraInput" name="photo" type="file" accept="image/*" capture="environment" class="hidden mb-16" form="cameraForm"/>
        <form hx-post="/cam2" action="/cam2" method="POST" enctype="multipart/form-data" hx-swap="none" id="cameraForm">
            <button
                id="cameraButton"
                class="bg-gray-200 px-4 py-2 border rounded-md"
                type="button">
                Camera
            </button>
            <div id="capturePhotoButtons" class="hidden">
                <button
                    id="captureButton"
                    type="button"
                    class="bg-gray-200 px-4 py-2 border rounded-md">
                    Capture
                </button>
                <button 
                    id="cancelCaptureButton" 
                    type="button" 
                    class="bg-gray-200 px-4 py-2 border rounded-md">
                    Cancel
                </button>
            </div>
            <div id="confirmPhotoButtons" class="hidden">
                <button
                    id="submitButton"
                    type="submit"
                    class="bg-gray-200 px-4 py-2 border rounded-md">
                    <span class="htmx-indicator-content">Save</span>
                    <span class="htmx-indicator">Saving</span>
                </button>
                <button
                    id="retryButton"
                    type="button"
                    class="bg-gray-200 px-4 py-2 border rounded-md"
                    >
                    Try again</button>
                <button
                    id="finalCancelButton"
                    class="bg-gray-200 px-4 py-2 border rounded-md"
                    type="button">
                    Cancel
                </button>
            </div>
        </form>
	</div>
</section>
{% endblock content %}

{% block script %}
    <script src="/static/js/camera2.js"></script>
{% endblock script %}