<form hx-post="/purchases"
	  hx-target="this"
	  hx-swap="outerHTML"
	  hx-indicator="#expense-form-indicator"
	  class="px-2 grid gap-2"
	  novalidate>
	  {% if form_errors %}
		{% set first_error_field = "letters" if form_errors.get("letters") 
			else "numbers" if form_errors.get("numbers") 
			else "time" if form_errors.get("time") 
			else "amount" if form_errors.get("amount")
			else None
		%}
	  {% endif %}
	{% include "purchases/new/inputs/lottery.html" %}
	<div>
		<label for="date" class="font-semibold">Date</label>
		<input id="date" type="date" name="date" class="border rounded p-2 bg-gray-100 w-full">
	</div>
	{% include "purchases/new/inputs/time.html" %}
	{% include "purchases/new/inputs/amount.html" %}
	<button class="flex gap-2  justify-center items-center bg-gray-700 text-white px-3 py-2 rounded">
		Save
		<div>
			{% include "ui/spinner.html" %}
		</div>
	</button>
</form>