<form hx-put="/purchases/{{purchase.id}}"
	  hx-swap="none"
	  hx-target="this">
	<div class="flex flex-col gap-1">
		<label for="purchase_time">What time did you buy?</label>
		<input required
			   id="purchase_time"
			   name="purchase_time"
			   class="border rounded p-2 bg-gray-100"
			   type="datetime-local"
			   step="1"
			   value="{{purchase.formatted_purchase_time}}" />
	</div>
	<div class="flex flex-col gap-2 mb-4">
		<label for="price">Price</label>
		<input type="number"
			   id="price"
			   name="price"
			   value="{{purchase.price}}"
			   class="p-2 border rounded-md" />
	</div>
	<div class="flex flex-col gap-2 mb-4">
		<label for="location">Location</label>
		<input type="text"
			   name="location"
			   id="location"
			   value="{{purchase.location}}"
			   class="p-2 border rounded-md" />
	</div>
	<div class="flex flex-col gap-2 mb-4">
		<label for="items">Items</label>
		<input type="text"
			   name="items"
			   id="items"
			   value="{{purchase.items}}"
			   class="p-2 border rounded-md" />
	</div>
	<div class="flex flex-col gap-1">
		<label for="lottery">What is the lottery number?</label>
		<input id="lottery"
			   name="lottery"
			   class="border rounded p-2 bg-gray-100"
			   type="text"
			   value="{{purchase.receipt_lottery_number}}" />
	</div>
	<fieldset>
		<legend class="mb-2">Choose Payment Method</legend>
		<div class="flex justify-between gap-4">
			<div class="flex grow">
				{% if purchase.payment_method.value == "cash" %}
				<input type="radio"
					   name="payment_method"
					   id="edit_cash"
					   value="cash"
					   class="peer sr-only"
					   checked />
				{% else %}
				<input type="radio"
					   name="payment_method"
					   id="edit_cash"
					   value="cash"
					   class="peer sr-only" />
				{% endif %}
				<label for="edit_cash"
					   class="flex items-center justify-evenly grow text-center p-2 border rounded-md peer-checked:border-gray-700 peer-checked:bg-gray-300 ease-in-out duration-300">
					<img class="w-8 h-8"
						 alt="A cash icon"
						 src="../../../static/img/cash.png" />
					Cash</label>
			</div>
			<div class="flex grow">
				{% if purchase.payment_method.value == "card" %}

				<input type="radio"
					   name="payment_method"
					   id="edit_card"
					   value="card"
					   class="peer sr-only"
					   checked />
				{% else %}
				<input type="radio"
					   name="payment_method"
					   id="edit_card"
					   value="card"
					   class="peer sr-only" />
				{% endif %}
				<label for="edit_card"
					   class="flex items-center justify-evenly grow text-center p-2 border rounded-md peer-checked:border-gray-700 peer-checked:bg-gray-300 ease-in-out duration-300">
					<img class="w-8 h-8"
						 alt="A cash icon"
						 src="../../../static/img/credit-card.png" />
					Card</label>
			</div>
		</div>
	</fieldset>
	<button type="button"
			hx-get="/purchases/{{purchase.id}}"
			hx-target="closest .detail-card"
			hx-swap="innerHTML"
			class="px-3 py-1 border rounded-md hover:bg-gray-200 active:bg-gray-300">Close</button>
	<button type="submit"
			class="px-3 py-1 border rounded-md bg-green-400 hover:bg-green-500 active:bg-green-600">Save</button>
</form>