{% extends "base.html" %}
{% block title %}
MySaveMoneyLife - Purchase History
{% endblock title %}
{% block content %}
<section class="px-2 py-[96px]">
	<div class="grid gap-4 max-w-[500px] mx-auto">
		<header class="flex items-center gap-4">
			<a href="/"
			   class="text-blue-500">
				<img src="https://img.icons8.com/?size=24&id=40217&format=png&color=000000"
					 alt="Back" />
			</a>
			<h1 class="text-center text-3xl">Purchase Details</h1>
		</header>
		{# date selector will go here #}
		<label class="sr-only"
			   for="date">Choose date</label>
		<input type="date"
			   id="date"
			   name="date"
			   value="{{today_date}}"
			   class="p-2 rounded-md"
			   hx-get="/purchases/details"
			   hx-swap="outerHTML"
			   hx-target="#today-purchases"
			   hx-trigger="change"
			   hx-include="this"
			   hx-push-url="true"
			    />
		<div class="flex justify-center gap-4">
			<a 
				href="/purchases/details/{{yesterday_date}}" 
				class="border border-green-700 drop-shadow rounded-md px-4 py-1 hover:bg-green-600 hover:border-green-600 hover:text-white active:bg-green-700 active:border-green-700 active:scale-95 active:drop-shadow-lg">
				Yesterday
			</a>
			<a 
				href="/purchases/details/{{tomorrow_date}}" 
				class="border border-green-700 drop-shadow rounded-md px-4 py-1 hover:bg-green-600 hover:border-green-600 hover:text-white active:bg-green-700 active:border-green-700 active:scale-95 active:drop-shadow-lg">
				Tomorrow
			</a>
			</div>
		{% include "/app/home/spending-list.html" %}
	</div>
</section>
<script>
	document.addEventListener('htmx:beforeRequest', (event) => {
		const target = event.target;
		if (target.matches('button')) {
			const container = target.closest('.detail-card');
			container.classList.add('animate-pulse');
		}

		if (target.matches('form')) {
			const container = target.closest('.detail-card');
			container.classList.add('animate-pulse');
		}
	});

	document.addEventListener('htmx:afterRequest', (event) => {
		const target = event.target;
		if (target.matches('.detail-card')) {
			target.classList.remove('animate-pulse');
		}
		if (target.matches('button')) {
			target.closest('.detail-card').classList.remove('animate-pulse');
		}
		if (target.matches('form')) {
			target.closest('.detail-card').classList.remove('animate-pulse');
		}
	});

	document.addEventListener('htmx:beforeSwap', (event) => {
		const target = event.target;
		if (target.matches('.detail-card')) {
			const height = target.offsetHeight;
			target.style.height = height + 'px';
		}
	});

	document.addEventListener('htmx:afterSwap', (event) => {
		const target = event.target;
		if (target.matches('.detail-card')) {
			gsap.fromTo(target,
				{ height: target.offsetHeight + 'px' },
				{ height: 'auto', duration: 0.4, ease: 'power2.inOut' }
			);
		}
	});

</script>
{% endblock content %}