{% from '/macros/table.html' import heading_row%}
{% extends "base.html" %}
{% block title %}
MySaveMoneyLife - Purchase History
{% endblock title %}
{% block content %}
<section class="px-2 py-4 md:px-0 md:py-16">
	<div class="grid gap-4 max-w-[1000px] mx-auto">
		<h1 class="text-center text-3xl">Purchase Details</h1>
		{% for purchase in purchases  %}
		<div class="p-4 bg-white rounded-md shadow">
			<header class="flex justify-between items-baseline">
				<p class="text-2xl">${{purchase.price}}</p>
				<button hx-get="/purchases/details/edit/{{purchase.id}}"
						hx-target="closest div"
						hx-swap="outerHTML">Edit</button>
			</header>
			<p class="text-sm text-gray-500 mb-2">{{purchase.purchase_time.strftime("%H:%M:%S")}} @ {{purchase.location}}</p>
			<hr class="mb-2 border-gray-500"/>
			<p class="">{{purchase.items}}</p>
		</div>
		{% endfor %}
	</div>
</section>
{% endblock content %}