{% from '/macros/table.html' import heading_row%}
{% extends "base.html" %}
{% block title %}
MySaveMoneyLife - Purchase History
{% endblock title %}
{% block content %}
<section class="px-2 py-4 md:px-0 md:py-16">
	<div class="grid gap-4 max-w-[1000px] mx-auto">
		<h1 class="text-center text-3xl">Purchase Details</h1>
		{% for purchase in purchases  %}
		<div class="p-4 bg-white rounded-md shadow">
			<button hx-get="/purchases/details/{{purchase.id}}"
					hx-target="closest div"
					hx-swap="outerHTML">Edit</button>
			<p>{{purchase.price}}</p>
			<p>{{purchase.location}}</p>
			<p>{{purchase.purchase_time.strftime("%H:%M:%S")}}</p>
			<p>{{purchase.items}}</p>
		</div>
		{% endfor %}
	</div>
</section>
{% endblock content %}