
	{# {% if purchase.s3_key %}
	<div hx-get="/receipts/images/edit/{{purchase.id}}"
	hx-trigger="revealed"
	hx-target="this"
	hx-swap="outerHTML"
	class="w-[300px] aspect-[3/4] bg-black" ></div>
	{% else %}
	<p class="border rounded-md px-4 py-1 text-center mb-4">No image available</p>
	{% endif %} #}
{% include "/purchases/partials/edit-tabs.html" %}
<form hx-put="/purchases/{{purchase.id}}"
	hx-swap="none"
	hx-target="this">
	{% include "/purchases/partials/edit-lottery.html" %}
	{# <button type="button"
			hx-get="/purchases/{{purchase.id}}"
			hx-target="closest .detail-card"
			hx-swap="innerHTML"
			class="px-3 py-1 border rounded-md hover:bg-gray-200 active:bg-gray-300">Close</button> #}
	<button type="submit"
			class="px-3 py-1 border rounded border-green-700 text-green-700 hover:border-green-500 hover:text-green-500 active:scale-95 duration-100 ease-in">Save</button>
</form>
