{% extends "base.html" %}

{% block title %}Winnings Page{% endblock title %}

{% block content %}
<section class="pb-[96px]">
	<div class="grid gap-4 max-w-[1000px] mx-auto">
        <h1>Winnings Page</h1>
        <p>Here are your winnings for the Taiwan Receipt Lottery for {{time_period}}.</p>
        <h2>Years</h2>
        <ul class="flex gap-4">
            <li><a href="/winnings/2024/{{selected_time_period}}">2024</a></li>
            <li><a href="/winnings/2025/{{selected_time_period}}">2025</a></li>
        </ul>
        <h2>Months</h2>
        <ul class="flex gap-4">
        {% for time_period in time_periods %}
            <li><a href="/winnings/{{selected_year}}/{{time_period}}">{{time_period}}</a></li>
        {% endfor %}
        </ul>
        <div class="grid md:grid-cols-2 gap-4">
            <div>
                <h2 class="text-xl font-semibold">{{start_of_period.month}} - {{start_of_period.strftime("%B")}}</h2>
                {% if purchases["first_month_purchases"]|length == 0 %}
                    <p>No purchases in {{start_of_period.strftime("%B")}} {{selected_year}}</p>
                {% else %}
                    {% for purchase in purchases["first_month_purchases"]  %}
                        {% if purchase.receipt_lottery_number %}
                            <p>{{ purchase.purchase_time}}: {{ purchase.receipt_lottery_number }}</p>
                        {% else %}
                            <p>{{ purchase.purchase_time}}: No lottery number</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                <h2 class="text-xl font-semibold">{{end_of_period.month}} - {{end_of_period.strftime("%B")}}</h2>
                {% if purchases["second_month_purchases"]|length == 0 %}
                    <p>No purchases in {{end_of_period.strftime("%B")}} {{selected_year}}</p>
                {% else %}
                    {% for purchase in purchases["second_month_purchases"]  %}
                        {% if purchase.receipt_lottery_number %}
                            <p>{{ purchase.purchase_time}}: {{ purchase.receipt_lottery_number }}</p>
                        {% else %}
                            <p>{{ purchase.purchase_time}}: No lottery number</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}