<!DOCTYPE html>
<html lang="en">

	<head>
		{% block head %}

		{% endblock head %}
		<meta charset="UTF-8">
		<meta name="viewport"
			  content="width=device-width, initial-scale=1.0">
		<script src="https://unpkg.com/htmx.org@1.9.10"
				integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
				crossorigin="anonymous"></script>

        <link href="static/styles.css" rel="stylesheet" />
		<title>{% block title %}{%endblock title%}</title>
	</head>

	<body>
		{% block header %}
        <header>
            <span>TRAB</span>
        </header>
		{% endblock header %}
		<main >
			{% block content %}
			{% endblock content %}
		</main>


	</body>

</html>