{% extends "new/base.html" %}
{% block title %}Log In | The Money Game{% endblock title %}
{% block content %}
<div class="wrapper">
    <h1>Log In</h1>
    <form action="/session" method="POST">
        <div class="input-group">
            <label for="email">Email</label>
            <input id="email" name="email" type="email" />
        </div>
        <div class="input-group">
            <label for="pwd">Password</label>
            <input id="pwd" name="password" type="password" />
        </div>
        <button type="submit">Log In</button>
    </form>
</div>
{% endblock %}