{% for transaction in transactions %}
    <div class="receipt border flex justify-between py-2">
        <div class="border">
            <p>{{ transaction.id }}</p>
            <p>{{ transaction.amount }}</p>
            <p>{{ transaction.created_at }}</p>
        </div>
        <div 
            class="border w-[100px] aspect-square"
            hx-get="/receipts/{{ transaction.id }}"
            hx-trigger="revealed"
            hx-swap="innerHTML"
            >   
            <p>Loading receipt image...</p>
        </div>
    </div>
    <hr />
{% endfor %}
{% if transactions|length > 0 %}
    <div
        hx-get="/receipts?page={{ page + 1 }}"
        hx-trigger="revealed"
        hx-target="this"
        hx-swap="outerHTML"
        class="bg-green-200 h-8 animate-pulse">
    </div>
{% endif %}